ui/flows.json
[
    {
        "id": "3b0b5d4dc5e89183",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf2fec841c0471dc",
        "type": "mqtt in",
        "z": "3b0b5d4dc5e89183",
        "name": "MQTT svm30",
        "topic": "svm30/+",
        "qos": "2",
        "datatype": "json",
        "broker": "61073b4d6c77fc71",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 100,
        "wires": [
            [
                "84bae1b3cd75cfb7",
                "d3deab70d2fdef79",
                "153c598866cfe25c",
                "50facaafae3a9a3c",
                "d91ffc4e4a263eea"
            ]
        ]
    },
    {
        "id": "84bae1b3cd75cfb7",
        "type": "debug",
        "z": "3b0b5d4dc5e89183",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 100,
        "wires": []
    },
    {
        "id": "0e22f929c6faafab",
        "type": "switch",
        "z": "3b0b5d4dc5e89183",
        "name": "filter not null",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 180,
        "wires": [
            [
                "b0a7b55e1caae2e2",
                "e77e18ab1917cdb8",
                "64fdae0e1299b27d"
            ]
        ]
    },
    {
        "id": "d3deab70d2fdef79",
        "type": "change",
        "z": "3b0b5d4dc5e89183",
        "name": "extract CO2 eq",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.co2eq",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 180,
        "wires": [
            [
                "0e22f929c6faafab"
            ]
        ]
    },
    {
        "id": "f11290de36e00670",
        "type": "switch",
        "z": "3b0b5d4dc5e89183",
        "name": "filter not null",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 300,
        "wires": [
            [
                "f96028ab47671e8d",
                "34e64b6588aaa22a",
                "d611a8e4a02bb6e0"
            ]
        ]
    },
    {
        "id": "153c598866cfe25c",
        "type": "change",
        "z": "3b0b5d4dc5e89183",
        "name": "extract VOC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.voc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 300,
        "wires": [
            [
                "f11290de36e00670"
            ]
        ]
    },
    {
        "id": "397ffd66b1f15b27",
        "type": "switch",
        "z": "3b0b5d4dc5e89183",
        "name": "filter not null",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 420,
        "wires": [
            [
                "297ccd6cad0e49e0",
                "c08fe59fbf824367"
            ]
        ]
    },
    {
        "id": "50facaafae3a9a3c",
        "type": "change",
        "z": "3b0b5d4dc5e89183",
        "name": "extract temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "397ffd66b1f15b27"
            ]
        ]
    },
    {
        "id": "177f7c1c0be5a598",
        "type": "switch",
        "z": "3b0b5d4dc5e89183",
        "name": "filter not null",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 520,
        "wires": [
            [
                "963123989cf75ed9",
                "5a1b28006401d730"
            ]
        ]
    },
    {
        "id": "d91ffc4e4a263eea",
        "type": "change",
        "z": "3b0b5d4dc5e89183",
        "name": "extract humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.rh",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 520,
        "wires": [
            [
                "177f7c1c0be5a598"
            ]
        ]
    },
    {
        "id": "b0a7b55e1caae2e2",
        "type": "ui_gauge",
        "z": "3b0b5d4dc5e89183",
        "name": "CO2 level [ppm]",
        "group": "ae6bf779cfc80f42",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CO2 [SVM30]",
        "label": "ppm",
        "format": "{{value}}",
        "min": "0",
        "max": "60000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "2000",
        "className": "",
        "x": 960,
        "y": 140,
        "wires": []
    },
    {
        "id": "f96028ab47671e8d",
        "type": "ui_gauge",
        "z": "3b0b5d4dc5e89183",
        "name": "VOC level [ppb]",
        "group": "245dd52972bbe939",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "VOC",
        "label": "ppb",
        "format": "{{value}}",
        "min": 0,
        "max": "60000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "100",
        "seg2": "200",
        "className": "",
        "x": 960,
        "y": 260,
        "wires": []
    },
    {
        "id": "297ccd6cad0e49e0",
        "type": "ui_gauge",
        "z": "3b0b5d4dc5e89183",
        "name": "Temperature level [*C]",
        "group": "f0e49e33f38822a7",
        "order": 2,
        "width": 7,
        "height": 5,
        "gtype": "wave",
        "title": "Temerature",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "85",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 990,
        "y": 400,
        "wires": []
    },
    {
        "id": "963123989cf75ed9",
        "type": "ui_gauge",
        "z": "3b0b5d4dc5e89183",
        "name": "Humidity level [%]",
        "group": "caf9d9e57a445f58",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 990,
        "y": 500,
        "wires": []
    },
    {
        "id": "b131d340cf92fc76",
        "type": "ui_text",
        "z": "3b0b5d4dc5e89183",
        "group": "ae6bf779cfc80f42",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CO2 level rating:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1310,
        "y": 100,
        "wires": []
    },
    {
        "id": "e77e18ab1917cdb8",
        "type": "function",
        "z": "3b0b5d4dc5e89183",
        "name": "CO2 to air quality",
        "func": "const co2 = msg.payload;\nconsole.log(msg);\nif (co2 < 400) {\nmsg.payload = \"Excellent\";\nreturn msg;\n}\nelse if (co2 < 1000) {\nmsg.payload = \"Fine\"\nreturn msg;\n}\nelse if (co2 < 1500) {\nmsg.payload = \"Moderate\"\nreturn msg;\n}\nelse if (co2 < 2000) {\nmsg.payload = \"Poor\"\nreturn msg;\n}\nelse if (co2 < 5000) {\nmsg.payload = \"Very poor\"\nreturn msg;\n}\nelse {\nmsg.payload = \"Severe\"\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 180,
        "wires": [
            [
                "b131d340cf92fc76"
            ]
        ]
    },
    {
        "id": "34e64b6588aaa22a",
        "type": "function",
        "z": "3b0b5d4dc5e89183",
        "name": "VOC to air quality",
        "func": "const vcc = msg.payload;\n\nif (vcc < 50) {\nmsg.payload = \"Excellent\";\nreturn msg;\n}\nelse if (vcc < 100) {\nmsg.payload = \"Fine\"\nreturn msg;\n}\nelse if (vcc < 150) {\nmsg.payload = \"Moderate\"\nreturn msg;\n}\nelse if (vcc < 300) {\nmsg.payload = \"Poor\"\nreturn msg;\n}\nelse if (vcc < 500) {\nmsg.payload = \"Very poor\"\nreturn msg;\n}\nelse {\nmsg.payload = \"Severe\"\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1290,
        "y": 340,
        "wires": [
            [
                "418bd365045e594f"
            ]
        ]
    },
    {
        "id": "418bd365045e594f",
        "type": "ui_text",
        "z": "3b0b5d4dc5e89183",
        "group": "245dd52972bbe939",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "VOC level rating:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1310,
        "y": 240,
        "wires": []
    },
    {
        "id": "c08fe59fbf824367",
        "type": "ui_chart",
        "z": "3b0b5d4dc5e89183",
        "name": "",
        "group": "50a24039e101d11d",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "85",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "d611a8e4a02bb6e0",
        "type": "ui_chart",
        "z": "3b0b5d4dc5e89183",
        "name": "",
        "group": "50a24039e101d11d",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "VOC",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "64fdae0e1299b27d",
        "type": "ui_chart",
        "z": "3b0b5d4dc5e89183",
        "name": "",
        "group": "50a24039e101d11d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "CO2 [SVM30]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "5a1b28006401d730",
        "type": "ui_chart",
        "z": "3b0b5d4dc5e89183",
        "name": "",
        "group": "50a24039e101d11d",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "47836605d4fb0a1e",
        "type": "mqtt in",
        "z": "3b0b5d4dc5e89183",
        "name": "MQTT scd30",
        "topic": "scd30/+",
        "qos": "2",
        "datatype": "json",
        "broker": "61073b4d6c77fc71",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 660,
        "wires": [
            [
                "c25024992bf00e38",
                "95d9304a19155e8c"
            ]
        ]
    },
    {
        "id": "bb68423c34045839",
        "type": "switch",
        "z": "3b0b5d4dc5e89183",
        "name": "filter not null",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 760,
        "wires": [
            [
                "ebff9a32708387e7"
            ]
        ]
    },
    {
        "id": "c25024992bf00e38",
        "type": "change",
        "z": "3b0b5d4dc5e89183",
        "name": "extract CO2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.co2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 760,
        "wires": [
            [
                "bb68423c34045839"
            ]
        ]
    },
    {
        "id": "68bb312cdd27ec7e",
        "type": "ui_gauge",
        "z": "3b0b5d4dc5e89183",
        "name": "CO2 level [ppm]",
        "group": "850f1fbaa86e7f1c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CO2 [SCD30]",
        "label": "ppm",
        "format": "{{value}}",
        "min": "0",
        "max": "60000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "2000",
        "className": "",
        "x": 980,
        "y": 680,
        "wires": []
    },
    {
        "id": "303103627b25e88c",
        "type": "function",
        "z": "3b0b5d4dc5e89183",
        "name": "CO2 to air quality",
        "func": "const co2 = msg.payload;\nconsole.log(msg);\nif (co2 < 400) {\nmsg.payload = \"Excellent\";\nreturn msg;\n}\nelse if (co2 < 1000) {\nmsg.payload = \"Fine\"\nreturn msg;\n}\nelse if (co2 < 1500) {\nmsg.payload = \"Moderate\"\nreturn msg;\n}\nelse if (co2 < 2000) {\nmsg.payload = \"Poor\"\nreturn msg;\n}\nelse if (co2 < 5000) {\nmsg.payload = \"Very poor\"\nreturn msg;\n}\nelse {\nmsg.payload = \"Severe\"\nreturn msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 740,
        "wires": [
            [
                "947c58beedb9fee7"
            ]
        ]
    },
    {
        "id": "8d72e5cf64c33998",
        "type": "ui_chart",
        "z": "3b0b5d4dc5e89183",
        "name": "",
        "group": "50a24039e101d11d",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "CO2 [SCD30]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "60000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "947c58beedb9fee7",
        "type": "ui_text",
        "z": "3b0b5d4dc5e89183",
        "group": "850f1fbaa86e7f1c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CO2 level rating:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1290,
        "y": 660,
        "wires": []
    },
    {
        "id": "95d9304a19155e8c",
        "type": "debug",
        "z": "3b0b5d4dc5e89183",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 660,
        "wires": []
    },
    {
        "id": "ebff9a32708387e7",
        "type": "function",
        "z": "3b0b5d4dc5e89183",
        "name": "Round",
        "func": "msg.payload = Math.round(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 760,
        "wires": [
            [
                "68bb312cdd27ec7e",
                "8d72e5cf64c33998",
                "303103627b25e88c"
            ]
        ]
    },
    {
        "id": "90ff5b5e7f6c15d7",
        "type": "ui_spacer",
        "z": "3b0b5d4dc5e89183",
        "name": "spacer",
        "group": "50a24039e101d11d",
        "order": 2,
        "width": 15,
        "height": 1
    },
    {
        "id": "34c30a8cb70d1148",
        "type": "ui_spacer",
        "z": "3b0b5d4dc5e89183",
        "name": "spacer",
        "group": "50a24039e101d11d",
        "order": 4,
        "width": 15,
        "height": 1
    },
    {
        "id": "64b3274fe7c35215",
        "type": "ui_spacer",
        "z": "3b0b5d4dc5e89183",
        "name": "spacer",
        "group": "50a24039e101d11d",
        "order": 6,
        "width": 15,
        "height": 1
    },
    {
        "id": "c710ee0b9fa19ce2",
        "type": "ui_spacer",
        "z": "3b0b5d4dc5e89183",
        "name": "spacer",
        "group": "f0e49e33f38822a7",
        "order": 1,
        "width": 7,
        "height": 1
    },
    {
        "id": "8cee501fe12c57de",
        "type": "ui_spacer",
        "z": "3b0b5d4dc5e89183",
        "name": "spacer",
        "group": "caf9d9e57a445f58",
        "order": 1,
        "width": 7,
        "height": 1
    },
    {
        "id": "61073b4d6c77fc71",
        "type": "mqtt-broker",
        "name": "TestMQTTBroker",
        "broker": "0.0.0.0",
        "port": "1850",
        "clientid": "client_sub_1",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ae6bf779cfc80f42",
        "type": "ui_group",
        "name": "CO2 measurments [SVM30]",
        "tab": "0f8801b11d2b2fd8",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": true,
        "className": ""
    },
    {
        "id": "245dd52972bbe939",
        "type": "ui_group",
        "name": "VOC measurments",
        "tab": "0f8801b11d2b2fd8",
        "order": 3,
        "disp": true,
        "width": 10,
        "collapse": true,
        "className": ""
    },
    {
        "id": "f0e49e33f38822a7",
        "type": "ui_group",
        "name": "Temerature measurments",
        "tab": "0f8801b11d2b2fd8",
        "order": 4,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "caf9d9e57a445f58",
        "type": "ui_group",
        "name": "Humidity mesurments",
        "tab": "0f8801b11d2b2fd8",
        "order": 5,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "50a24039e101d11d",
        "type": "ui_group",
        "name": "Charts",
        "tab": "bc387f8f90d0eca1",
        "order": 1,
        "disp": false,
        "width": 15,
        "collapse": false,
        "className": ""
    },
    {
        "id": "850f1fbaa86e7f1c",
        "type": "ui_group",
        "name": "CO2 measurements [SCD30]",
        "tab": "0f8801b11d2b2fd8",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0f8801b11d2b2fd8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bc387f8f90d0eca1",
        "type": "ui_tab",
        "name": "Charts",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]